# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo

# Ignore Office & media files in documents/
*.ntvs*
*.njsproj
*.sln
*.sw?
documents/**/*.doc
documents/**/*.docx
documents/**/*.xls
documents/**/*.xlsx
documents/**/*.ppt
documents/**/*.pptx
documents/**/*.pdf
documents/**/*.mp4
documents/**/*.mov
documents/**/*.avi
